AppleBasket/AppleBasket/Service References/AppleService/AppleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://applebasket2.azurewebsites.net/AppleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppleService" />
  <xs:element name="AddApple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppleService" minOccurs="0" name="apple" nillable="true" type="q1:Apple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAppleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveApple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppleService" minOccurs="0" name="apple" nillable="true" type="q2:Apple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveAppleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserveAppleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubscriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApples">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppleService" minOccurs="0" name="GetApplesResult" nillable="true" type="q3:ArrayOfApple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>