AppleBasket/AppleBasket/Service References/AppleService/AppleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://applebasket2.azurewebsites.net/AppleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://applebasket2.azurewebsites.net/AppleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://applebasket2.azurewebsites.net/AppleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppleService" />
      <xsd:import schemaLocation="http://applebasket2.azurewebsites.net/AppleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppleService_AddApple_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApple" />
  </wsdl:message>
  <wsdl:message name="IAppleService_AddApple_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppleResponse" />
  </wsdl:message>
  <wsdl:message name="IAppleService_ReserveApple_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveApple" />
  </wsdl:message>
  <wsdl:message name="IAppleService_ReserveApple_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveAppleResponse" />
  </wsdl:message>
  <wsdl:message name="IAppleService_AddSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscription" />
  </wsdl:message>
  <wsdl:message name="IAppleService_AddSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAppleService_GetApples_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApples" />
  </wsdl:message>
  <wsdl:message name="IAppleService_GetApples_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppleService">
    <wsdl:operation name="AddApple">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppleService/AddApple" message="tns:IAppleService_AddApple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppleService/AddAppleResponse" message="tns:IAppleService_AddApple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveApple">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppleService/ReserveApple" message="tns:IAppleService_ReserveApple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppleService/ReserveAppleResponse" message="tns:IAppleService_ReserveApple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppleService/AddSubscription" message="tns:IAppleService_AddSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppleService/AddSubscriptionResponse" message="tns:IAppleService_AddSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApples">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppleService/GetApples" message="tns:IAppleService_GetApples_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppleService/GetApplesResponse" message="tns:IAppleService_GetApples_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppleService" type="tns:IAppleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApple">
      <soap:operation soapAction="http://tempuri.org/IAppleService/AddApple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveApple">
      <soap:operation soapAction="http://tempuri.org/IAppleService/ReserveApple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubscription">
      <soap:operation soapAction="http://tempuri.org/IAppleService/AddSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApples">
      <soap:operation soapAction="http://tempuri.org/IAppleService/GetApples" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppleService">
    <wsdl:port name="BasicHttpBinding_IAppleService" binding="tns:BasicHttpBinding_IAppleService">
      <soap:address location="http://applebasket2.azurewebsites.net/AppleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>